<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>

  <node name="hci" pkg="hci_node" type="hci.py">
	<!--	
	<rosparam command="load" file="$(find local_planner)/config/waypoints.yaml" />
	<param name="base_width" value="0.2" />
	<param name="distance_tolerance" value="0.02"/>
	-->

 </node>
</launch>
